.a11y {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.search__widget,
.sorting__widget select {
  padding: 7px 15px;
  border: 1px solid #fde4e4;
  border-radius: 15px;
  cursor: pointer;
  background-color: transparent;
  font-size: .75em;
}

.search__widget input {
  border: none;
  background-color: transparent;
}

.search__widget ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #df2020;
  opacity: .9; /* Firefox */
}

.search__widget :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #df2020;
  opacity: .9; /* Firefox */

}

.search__widget ::-ms-input-placeholder { /* Microsoft Edge */
  color: #df2020;
  opacity: .9; /* Firefox */
}

.search__widget input:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .search__widget {
    width: 100%;
    margin-bottom: 20px;
  }
  .search__widget input {
    width: 100%;
    font-size: 0.8rem;
  }
  .sorting__widget select {
    width: 100% !important;
    font-size: 0.8rem;
  }
}

.product__item a[aria-disabled="true"] {
  background-color: #a2a3bd !important;
  cursor: default !important;
}

nav.pagination a[aria-current="page"] {
  background-color: #df2020 !important;
}
