.common__section {
  background: linear-gradient(#212245b2, #212245b2),
    url("../assets/images/hero_product.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
}

.common__section h1 {
	
}