.product__item {
  border: 1px solid #fde4e4;
  text-align: center;
  padding: 30px;
  cursor: pointer;
}

/* Amit .product_image_name:hover,
.product_image_name:focus-within {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
}

.product_image_name a {
  outline: none;
}

.product_image_name a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
 */

.product__img {
  margin-bottom: 20px;
  transition: 0.4s;
}

.product__img:hover,
.product__img:focus {
  transform: scale(1.2);
}

.product__content h3 a {
  color: #212245;
  font-size: 0.85rem;
}

.product__content h5 {
  margin-bottom: 30px;
}

.product__price {
  font-weight: 600;
  font-size: 1.2rem;
  color: #df2020;
}

.addTOCart__btn {
  border: none;
  padding: 7px 18px;
  background: #df2020;
  color: #fff;
  border-radius: 25px;
  font-size: 0.9rem;
}

.addTOCart__btn:disabled {
  background: #af6666;
}

@media only screen and (max-width: 992px) {
  .product__content h5 a {
    font-size: 0.8rem;
  }
  .product__item {
    padding: 20px;
  }
  .addTOCart__btn {
    padding: 5px 15px;
    font-size: 0.7rem;
  }
}
